/* =======================================================
 * LOCATOR
 * ======================================================= */

.locator {
  .surface {
    background-color: $belize-hole;
    position: relative;
    overflow: hidden;
  }

  .position {
    background: rgba(255, 0, 0, 0.5);
    position: absolute;
    -webkit-border-radius: 50%;
       -moz-border-radius: 50%;
        -ms-border-radius: 50%;
         -o-border-radius: 50%;
            border-radius: 50%;
  }

  .btn {
    background: none;
    border-radius: 6rem;
    border: 1px solid #fff;
    cursor: pointer;
    display: block;
    font-weight: 100;
    font-size: 2rem;
    outline: none;
    overflow: hidden;
    padding: 0.4rem 1rem 0.3rem;
    -webkit-tap-highlight-color: transparent;
    text-align: center;
    text-transform: uppercase;
    -webkit-transition: all 0.3s;
       -moz-transition: all 0.3s;
        -ms-transition: all 0.3s;
         -o-transition: all 0.3s;
            transition: all 0.3s;

    margin: 0 10px;
  }

  .btn.selected {
    color: #000000;
    background-color: rgba(255, 255, 255, 1);
  }

  .btn.disabled {
    color: rgba(255, 255, 255, 0.2);
    border-color: rgba(255, 255, 255, 0.2);
  }

  .message p {
    text-align: center;
  }

  &.landscape {
    .surface, .message {
      float: left;
    }

    .message p {
      padding: 70px 16px;
    }
  }

  &.portrait {
    .surface, .message {
      float: none;
    }

    .message p {
      padding: 8px 16px;

      small {
        font-size: 1.1rem;
      }
    }
  }
}

