#experience {
  &.soloist {
    svg {
      background-color: #121212;

      .point {
        fill: #ffffff;
      }
    }
  }

  &.player {
    transition: background-color 400ms;

    &.active {
      background-color: rgba(255, 255, 255, 0.9);
    }
  }
}

