// General styling
@import '01-reset';
@import '02-fonts';
@import '03-colors';
@import '04-general';

// Module specific partials
@import '77-checkin';
@import '77-loader';

// Your own partials if needed
// @import 'performance'

.space {
  margin: 0 auto;
  position: relative;
}

.touchsurface {
  height: 100%;
  position: absolute;
  width: 100%;
  z-index: 100;
}

.finger {
  background: rgba(255, 0, 0, 0.5);
  cursor: pointer;
  position: absolute;
  -webkit-border-radius: 50%;
     -moz-border-radius: 50%;
      -ms-border-radius: 50%;
       -o-border-radius: 50%;
          border-radius: 50%;
}
